@media screen and (min-width: 480px) {
    h1{
        background-color: blue;
    }
}

@media screen and (min-width: 960px) {
    h1{
        background-color: green;
    }
}

header{
    background-color: black;
}

#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.data{
    color: white;
    text-align: center;
    font-size: 3vh;
    margin-top: 1vh;
}

.item{
    height: 45vh;
    width: 45vh;
    background-color: black;
    margin: 30px;
    filter: drop-shadow(2px 2px 5px #ccc);
    border: solid 15px white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item img{
    width: 100%;
}

.item:hover{
    transform: scale(1.1);
    transition: ease-in-out;
    transition-duration: 150ms;
    /*filter: blur(1px);*/
}

.item .hide{
    visibility: hidden;
}

.item:hover .hide{
    visibility: visible;
}

.divP{
    width: 300px;
    height: 300px;
}






